<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <NitrateIntegration.TcmsPublisher>
      <serverUrl>http://localhost:8000/xmlrpc/</serverUrl>
      <username>asaleh</username>
      <password>*Cygnusolor*</password>
      <connection>
        <client>
          <values serialization="custom">
            <unserializable-parents/>
            <vector>
              <default>
                <capacityIncrement>0</capacityIncrement>
                <elementCount>0</elementCount>
                <elementData>
                  <null/>
                  <null/>
                  <null/>
                  <null/>
                  <null/>
                  <null/>
                  <null/>
                  <null/>
                  <null/>
                  <null/>
                </elementData>
              </default>
            </vector>
          </values>
          <shallProcessCharData>false</shallProcessCharData>
          <charData></charData>
          <url>http://localhost:8000/xmlrpc/</url>
          <headerFields/>
          <writer class="java.io.StringWriter">
            <writeBufferSize>1024</writeBufferSize>
            <lock class="string-buffer"></lock>
            <buf reference="../lock"/>
          </writer>
          <streamMessages>false</streamMessages>
          <isFaultResponse>false</isFaultResponse>
          <serializer>
            <customSerializers>
              <redstone.xmlrpc.serializers.LongPrimitiveSerializer>
                <useApacheExtension>false</useApacheExtension>
              </redstone.xmlrpc.serializers.LongPrimitiveSerializer>
              <redstone.xmlrpc.serializers.LongWrapperSerializer>
                <useApacheExtension>false</useApacheExtension>
              </redstone.xmlrpc.serializers.LongWrapperSerializer>
              <redstone.xmlrpc.serializers.MapSerializer/>
              <redstone.xmlrpc.serializers.ListSerializer/>
              <redstone.xmlrpc.serializers.CollectionSerializer/>
              <redstone.xmlrpc.serializers.ObjectArraySerializer/>
              <redstone.xmlrpc.serializers.IntArraySerializer/>
              <redstone.xmlrpc.serializers.FloatArraySerializer/>
              <redstone.xmlrpc.serializers.LongArraySerializer>
                <useApacheExtension>false</useApacheExtension>
              </redstone.xmlrpc.serializers.LongArraySerializer>
              <redstone.xmlrpc.serializers.DoubleArraySerializer/>
              <redstone.xmlrpc.serializers.BooleanArraySerializer/>
              <redstone.xmlrpc.serializers.IntrospectingSerializer/>
            </customSerializers>
          </serializer>
        </client>
      </connection>
    </NitrateIntegration.TcmsPublisher>
  </publishers>
  <buildWrappers/>
</project>