<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <NitrateIntegration.TcmsPublisher>
      <serverUrl>https://tcms.engineering.redhat.com/xmlrpc/</serverUrl>
      <username>asaleh</username>
      <password>#Nitrate1</password>
      <properties>
        <plan>5866</plan>
        <product>TCMS</product>
        <product__v>Devel</product__v>
        <category>Functional</category>
        <priority>P1</priority>
      </properties>
      <testPath>build/test/results/*.xml</testPath>
    </NitrateIntegration.TcmsPublisher>
  </publishers>
  <buildWrappers/>
</project>